<!DOCTYPE html>
<html>
<head>
    <title> Datos del ponente</title>
</head>
<body>

<h1>Datos del ponente:</h1>

<p> <b>Nombre y apellidos:</b> {{ ponente.nombre }} {{ ponente.apellidos }} <p>
<p> <b>Tel&eacute;fono:</b> {{ ponente.telefono }} <p>
<p> <b>e-mail:</b> {{ ponente.email }} <p>


</body>
</html>
