<!DOCTYPE html>
<html>
<head>
  <title> Página de contacto </title>
</head>
<body>
    <h1> Contáctenos </h1>

    <p>
        Nuestros datos de contacto son bla bla bla
    </p>
</body>
</html>